<!DOCTYPE html>
<html>
<head>
    <title>Dirr Activities Login</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 well" style="background-color: rgba(43, 182, 115, 0.2);">
                <p class="text-center">{{ failed_login }}</p>
                {% load crispy_forms_tags %}
                {% crispy form %}
                <br>
            </div>
        </div>
    </div>

</body>
</html>