<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 alert alert-info" >
                <span class="label label-danger">{{ pw }}</span>
                {% load crispy_forms_tags %}
                {% crispy form %}
                <br>
            </div>
        </div>
    </div>

</body>
</html>